
{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block breadcrumb %}
 
{% endblock %}

{% load tz %}


{% block content %}

<div class="flex flex-wrap -mx-4">
    <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
      <img alt="A portrait of a smiling individual with a warm and friendly expression, showcasing their approachable and personable nature in a professional setting." class="rounded-lg shadow-lg" height="400" src="/media/images/profile.png" width="600"/>
    </div>
    <div class="w-full md:w-1/2 px-4">
      <h2 class="text-4xl font-bold text-accent mb-4">About Me</h2>
      <p class="text-accent leading-relaxed mb-6">I am a life-long lover of computers who has always wanted to make them do what he wanted. While I am still figuring out how to do that, I get a little better at it every day. My dream is to use that passion to build things that will excite people.</p>
      <p class="text-accent leading-relaxed mb-6">I was born in rural Pennsylvania, and through the loggers and farmers I found my way to computers. I go to Penn State University for my bachelor's degree in Computer Engineering, and have worked on many projects over the years. My projects range from intricate backend systems simple little projects to make my life better. Whether it is designing databases or soldering to arduinos I thrive on solving problems.
      </p>
    </div>
  </div>
</div>
</section>

<section class="bg-white py-20">
<div class="container mx-auto px-4">
  <h2 class="text-4xl font-bold text-accent text-center mb-8">Get in Touch</h2>
  <div class="flex flex-wrap -mx-4">
    <div class="w-full md:w-1/3 px-4 mb-8">
      <div class="bg-primary rounded-lg shadow-md p-6 h-full flex flex-col justify-between">
        <div>
          <span class="text-6xl text-accent mb-4">📧</span>
          <h3 class="text-2xl font-bold text-accent mb-2">Email</h3>
          <p class="text-secondary leading-relaxed">watsontyler4128@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/3 px-4 mb-8">
      <div class="bg-primary rounded-lg shadow-md p-6 h-full flex flex-col justify-between">
        <div>
          <span class="text-6xl text-accent mb-4">📒</span>
          <h3 class="text-2xl font-bold text-accent mb-2">LinkedIn</h3>
          <a href="https://LinkedIn.com/in/tew5333/" class="text-secondary leading-relaxed">https://LinkedIn.com/in/tew5333/</a>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/3 px-4 mb-8">
      <div class="bg-primary rounded-lg shadow-md p-6 h-full flex flex-col justify-between">
        <div>
          <span class="text-6xl text-accent mb-4">💻</span>
          <h3 class="text-2xl font-bold text-accent mb-2">GitHub</h3>
          <a href="https://github.com/Coolman4128" class="text-secondary leading-relaxed">https://github.com/Coolman4128</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}