{% extends 'base.html' %}
{% block title %}Tyler Watson{% endblock %}

{% block breadcrumb %}
 
{% endblock %}

{% load tz %}

{% block content %}


    <section class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <h1 class="text-accent text-4xl font-bold mb-4">Hi, I'm Tyler Watson</h1>
        <p class="text-accent text-lg mb-8">A software developer who loves solving problems. Here you can learn a little about me and see some of the projects I have made over the years. Also check out the blog where I document the building process of some of those projects. Feel free to explore my work and see how I turn ideas into code!</p>
        <a href="{% url 'projects' %}" class="bg-secondary text-secondary px-6 py-3 rounded-lg hover:bg-accent transition duration-300 inline-block">View My Work</a>
      </div>
      <div>
        <img class="rounded-lg" src="/media/images/profile.png" alt="A casual headshot of Tyler Watson, a web developer with a warm and friendly smile, sitting in front of a forest background" width="600" height="400">
      </div>
    </section>

    <section class="my-12">
      <h2 class="text-accent text-3xl font-bold mb-8">Featured Projects</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

        {% for pro in projects %}
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <img class="w-full h-48 object-cover" src="{{ pro.picture.url }}" alt="Picture Representing Project" width="400" height="300">
          <div class="p-4">
            <h3 class="text-accent font-bold mb-2">{{pro.title}}</h3>
            <p class="text-accent mb-4">{{pro.description}}</p>
            <a href="{{pro.link}}" class="text-accent hover:text-secondary transition duration-300">View Project</a>
          </div>
        </div>
       {% endfor %}
        
        </div>
    </section>
  

{% endblock %}